<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Employee List</title>
</head>
<body class="p-3 mb-2 bg-dark text-white">
    <div class="container">
        <center>
            <h1>Employees</h1>
        </center>
        <table class="table table-dark table-bordered table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Designation</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr th:each="employee : ${employees}">
                    <td th:text="${employee.id}"></td>
                    <td><a class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" th:href="@{/{id}(id=${employee.id})}" th:text="${employee.name} + ' ' + ${employee.surname}"></a></td>
                    <td th:text="${employee.designation}"></td>
                </tr>
            </tbody>
        </table>
        <a href="/addEmployee"><button class="btn btn-light">Add an Employee</button></a>
    </div>
</body>
</html>
